<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
    body {
      text-align: center;
    }
    p {
      text-align: justify;
      margin: 20px 20px 20px 20px;
    }
    </style>
  </head>
  <body>
    <h2>Special Agent Dale Cooper - <i>Federal Bureau of Investigations</i></h2>
    <br>
    <img src="assets/dalecooperbadge.jpg" alt="dale cooper badge" />
    <br>
    <br>
    <p>FBI Special Agent Dale Bartholomew Cooper, portrayed by Kyle MacLachlan, is a fictional
      character and the protagonist of the ABC television series Twin Peaks. He briefly appears
      in the prequel film Twin Peaks: Fire Walk with Me.</p>
    <p>Cooper is an eccentric FBI agent who arrives in Twin Peaks in 1989 to investigate the
      brutal murder of the popular high school student, Laura Palmer, falling in love with the
      town and gaining a great deal of acceptance within the tightly knit community. He displays
      an array of quirky mannerisms such as giving a 'thumbs up' when satisfied, sage-like sayings,
      and distinctive sense of humor along with his love for a good cherry pie and a
      "damn fine cup of coffee" (which he takes black). One of his most popular habits is recording
      spoken-word tapes to a mysterious woman called 'Diane' into his microcassette recorder that he
      always carries with him, that often contain everyday observations and thoughts on his current case.</p>
    <p>On January 12, 2015, it was announced MacLachlan will return as Cooper for the continuation of Twin Peaks.</p>
    <br>
    <br>
    <img src="assets/dalecooper.jpg" alt="dale cooper" />
  </body>
</html>
