<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
    body {
      text-align: center;
    }
    p {
      text-align: justify;
      margin: 20px 20px 20px 20px;
    }
    </style>
  </head>
  <body>
    <h2>Special Agent Fox Mulder - <i>Federal Bureau of Investigations</i></h2>
    <br>
    <img src="assets/mulderbadge.jpg" alt="mulder badge" />
    <br>
    <br>
    <p>FBI Special Agent Fox William Mulder is a fictional character in the
      Fox science fiction-supernatural television series The X-Files,
      played by David Duchovny. Mulder's peers consider his (often correct) theories on
      extraterrestrial activity as spooky and far-fetched. He also has a photographic memory
      and is partially colorblind. With his FBI partner Dana Scully, he works in the X-Files office,
      which is concerned with cases with particularly mysterious or possibly paranormal circumstances
      that were left unsolved and shelved by the FBI. Mulder was a main character for the first
      seven seasons, but was limited to a recurring character for the following two seasons.
      He returns as a main character for the tenth season.</p>
    <p>Mulder made his first appearance in the first season pilot episode, broadcast in 1993.
      Mulder believes in extraterrestrial unidentified flying objects (UFOs) and a government conspiracy
      to hide or deny the truth of their existence. Mulder considers the X-Files and the truth behind
      the supposed conspiracy so important that he has made them the main focus of his life.</p>
      <br>
      <br>
    <img src="assets/mulder.jpg" alt="mulder" />

  </body>
</html>
