<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
    body {
      text-align: center;
    }
    p {
      text-align: justify;
      margin: 20px 20px 20px 20px;
    }
    </style>
  </head>
  <body>
    <h2>Special Agent Dana Scully - <i>Federal Bureau of Investigations</i></h2>
    <br>
    <img src="assets/scullybadge.jpg" alt="scully badge" />
    <br>
    <br>
    <p>FBI Special Agent Dana Scully is a fictional character in the Fox science fiction-supernatural
      television series The X-Files, played by Gillian Anderson. Scully is an FBI agent and a medical
      doctor (M.D.), partnered with fellow Special Agent Fox Mulder for the first seven, and the tenth,
      seasons, and with John Doggett in the eighth and ninth seasons. In the television series, they
      work out of a cramped basement office at FBI headquarters in Washington, D.C. to investigate
      unsolved cases labeled "X-Files". In 2002, Scully left government employment, and in 2008 she began
      working as a surgeon in Our Lady of Sorrows, a private Catholic hospital – where she stayed for seven years,
      until rejoining the FBI. In contrast to Mulder's credulous "believer" character, Scully is the skeptic for
      the first seven seasons, choosing to base her beliefs on what science can prove. She later on becomes a
      "believer" after Mulder's abduction at the end of season seven.</p>
      <p>Scully has appeared in all but four episodes of The X-Files, and in the 20th Century Fox films
        The X-Files, released in 1998, and The X-Files: I Want to Believe, released ten years later.
        The episodes she does not appear in are "3", "Zero Sum", "Unusual Suspects", and "Travelers".</p>
      <br>
      <br>
    <img src="assets/scully.jpg" alt="scully" />

  </body>
</html>
